<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADHD_Software_Engineering</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ADHD_Software_Engineering.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar">
        <div class="logo">Logo</div>  
        <nav>
            
            <a asp-controller="Task" asp-action="Dashboard">Dashboard</a>
            <a asp-controller="Task" asp-action="Index">Tasks</a>
            <a asp-controller="Timer" asp-action="Index">Timer</a>
            <a asp-controller="Home" asp-action="Privacy">Profile</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

